/todolist/todolist/__init__.py
/todolist/.env
/todolist/db.sqlite3
/todolist/__init__.py
/.idea/.gitignore
/todolist/todouser/migrations/__init__.py
/todolist/todouser/__init__.py
/.idea/gb_todo.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea
/todolist/frontend/public/logo192.png
/todolist/frontend/public/logo512.png
/todolist/frontend/node_modules/*
/node_modules/*
/node_modules/
